html {
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  height: 90%;
}

h1 {
  font-size: 3em;
}
@media (min-width: 1025px) {
  h1 {
    font-size: 3em;
  }
}

p {
  font-size: 1.5em;
}
@media (min-width: 1025px) {
  p {
    font-size: 1.5em;
  }
}

div img {
  width: 80%;
}
@media (min-width: 1025px) {
  div img {
    width: auto;
    height: 100%;
  }
}
@media (min-width: 1025px) {
  div {
    height: 60%;
  }
}

button {
  margin: 0.55em 0.5em 0.55em 0.5em;
  background-color: #eded34;
  border-radius: 1em;
  border: 0.0625em solid #736dc7;
  display: inline-block;
  cursor: pointer;
  color: #736dc7;
  font-size: 1em;
  padding: 1em 2em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
button:hover {
  background-color: #f5f593;
}
button:active {
  position: relative;
  top: 1px;
}
@media (min-width: 1025px) {
  button {
    margin: 2em 0.5em 2em 0.5em;
    font-size: 1.5em;
  }
}

div#credits {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  height: 20em;
  background-color: grey;
  padding: 1em;
  border-radius: 2em;
  border: 0.125em solid black;
}
div#credits #close-credits {
  margin: 0;
  padding: 0 0.5em;
  background-color: grey;
  border-radius: 10em;
  border: 0.0625em solid black;
  color: black;
  position: absolute;
  top: -0.5em;
  right: -0.75em;
  font-size: 2em;
}
@media (min-width: 1025px) {
  div#credits #close-credits {
    font-size: 2em;
  }
}
@media (min-width: 1025px) {
  div#credits {
    padding: 1em;
    width: 50%;
    height: 20em;
  }
}
