@import "include-media";

html {
  height: 100%;
}
body {
  margin: 0;
  text-align: center;
  height: 90%;
}

h1 {
  font-size: 7em;
  @include media(">desktop") {
    font-size: 3em;
  }
}

p {
  font-size: 4em;
  @include media(">desktop") {
    font-size: 1.5em;
  }
}

div {
  img {
    width: 90%;
    @include media(">desktop") {
      width: auto;
      height: 100%;
    }
  }
  @include media(">desktop") {
    height: 60%;
  }
}

button {
  margin: 2em 0.5em 5em 0.5em;
  background-color: #eded34;
	border-radius: 1em;
	border: 0.0625em solid #736dc7;
	display: inline-block;
	cursor: pointer;
	color: #736dc7;
	font-size: 2.5em;
	padding: 1em 2em;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
  &:hover {
    background-color:#f5f593;
  }
  &:active {
    position:relative;
  	top:1px;
  }
  @include media(">desktop") {
    margin: 2em 0.5em 2em 0.5em;
    font-size: 1.5em;
  }
}

div#credits {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 55em;
  background-color: grey;
  padding: 2em;
  border-radius: 2em;
  border: 0.125em solid black;
  #close-credits {
    margin: 0;
    padding: 0 0.5em;
    background-color: grey;
    border-radius: 10em;
    border: 0.0625em solid black;
    color: black;
    position: absolute;
    top: -0.5em;
    right: -0.75em;
    font-size: 5em;
    @include media(">desktop") {
      font-size: 2em;
    }
  }
  @include media(">desktop") {
    padding: 1em;
    width: 50%;
    height: 20em;
  }
}
